# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @alexey-igrychev @distorhead @ilya-lesikov @Fral738 @nervgh @odiora @reyreavman @drey @dmmordvi 
